table {
    width: 100%;
  }
  
  .mat-paginator-range-label {
      display: none;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  /* Font color */
  input.mat-input-element {
    color: rgb(0, 0, 0);
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  .white {
    background-color: white;
  }

  :host ::ng-deep .mat-form-field-flex {
    background: inherit;
  }

  

  
  
  